  <section id="skills">
  		<div class="flex-container skills">
            	<div class="skill-container">
                {% for skill in site.skills %}
                	<figure>
                		<div class="img-container-circle">
                    		{{ skill.content }}
                    </div>
                    <figcaption>
                      {% if skill.subtitle %}
                    	 <del>{{ skill.title}}</del>
                    			<p class="handwritting">{{ skill.subtitle }}</p>

                      {% else %}

                          {{ skill.title}}

                    	{% endif %}

                    	</figcaption>
                	</figure>
                  {% endfor %}
                </div>
        </div>        
  </section>