---
layout: default
---

<div class="casestudy-grid">
  <section class="casestudy-header">
    <h1> {{ page.title | escape }} </h1> 
  </section>

  <section class="casestudy-img">
    <div class="project-img">
      {% if page.picture %}
        <figure>
          <img src="{{ site.baseurl}}/assets/img/{{ page.picture }}" alt="Photo of {{ page.title | downcase }}">
        </figure>
      {% endif %}
    </div>
  </section>

  <section class="project-text">
    <h2>The challenge</h2>
    <p>{{ page.description }}</p>
    <p>{{ page.text }}</p>
  </section>

  <section class="casestudy-details">
    {% if page.year %}
      <p><strong>Year:</strong> <time> {{ page.year }} </time></p>
    {% endif %}

    {% if page.client %}
    <p><strong>Client:</strong> {{ page.client}} </p>
    {% endif %}

    {% if page.tools %}
      <p><strong>Tools:</strong> {{ page.tools }} </p>
    {% endif %}

    {% if page.team %}
      <p><strong>Team:</strong> {{ page.team }} </p>
    {% endif %}
  </section>
</div>
