---
layout: default
---

<section id="top">
    <div class="intro-container">
      {%- if page.title -%}
        <h1>{{ page.title }}</h1>
      {%- endif -%}
      <p class="intro-subtitle"> {{ page.subtitle }} </p>
    </div>
    <figure class="home-img"><img src="{{ site.baseurl}}/assets/img/{{ page.picture }}" alt="Photo of {{ page.title | downcase }}"></figure>
    <div class="home-about">
      <p class="about-text"> {{ content }} </p>
    </div>
  </div>
 </section>

 <section id="projects">
  <h2>Selected Works</h2>
    {% assign projects = site.projects | where: "tags", "home" %}
      <div class="projects-container">
        {% for project in projects limit:4 %}
        <div class="project-card">
          <a href="{{ site.baseurl }}/work/{{ project.slug }}">
            <img src="{{ site.baseurl}}/assets/img/{{ project.picture }}" alt="Photo of {{ project.title | downcase }}">

            <div class="overlay">
              <div class="card-text">{{ project.title }}</div>
            </div>

          </a>
          </div>
        {% endfor %}
        </div>
 </section>



   {% include skills.html %}


 

 <section id="sticky-contact">
        <div class="empty-block">
        </div>
        <div class="contact">
          <a href="mailto:reisjoanac@gmail.com"><h5><i class="fas fa-long-arrow-alt-right"></i> <em>Let´s talk</em></h5></a>
          <p>I’d love to work with you!</p>
        </div>
 </section>

</div>