.about-grid  {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	margin: 1em;
	-ms-grid-rows: auto 2rem auto;
	    grid-template-areas:
    "img"
    "text";
}

.about-img  {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: img;
}

.about-text  {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: text;
}


@media screen and (min-width: 600px) {
 .about-grid {
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas:
      "img text text";
  }

 .about-img {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
  }

 .about-text {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
		-ms-grid-column-span: 3;
  }
}