.about-grid  {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	margin: 1em;
	grid-template-areas:
    "img"
    "text";
}

.about-img  {
	grid-area: img;
}

.about-text  {
	grid-area: text;
}


 @media screen and (min-width: 600px) {
 .about-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img text text";
  }
}