@import "colors";
@import "textstyles";

body {
  max-width: 100%;
  margin: 0 auto;
  text-rendering: optimizeSpeed;
  background-color: $neutral-color-light;
  @include text;
}


h1 {
  @include bigTitle;
}

h2 {
  @include mediumTitle;
}

h3 {
  @include smallTitle;
}

h4 {
  @include subTitle;
}

p {
  @include text;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $neutral-color-dark;
  }
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


.flex-container {
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 50px;
  width: 100%;
}

/* Projects */

.projects-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-top: 50px;

  img {
  position: relative;

  &:hover {
animation: updown 1s 1 alternate;
-webkit-animation: updown 1s 1 alternate; /* Safari e chrome*/
  }
  }
}

@keyframes updown {
from {bottom:0px; background-color: #900;}
to {bottom:10px; background-color: #000;}
from {bottom:10px; background-color:#000;}
to {bottom:0px; background-color: #900;}
}

/* Safari e Chrome*/
@-webkit-keyframes updown
{ from {bottom:0px; background-color: #900;}
to {bottom:10px; background-color: #000;}
from {bottom:10px; background-color:#000;}
to {bottom:0px; background-color: #900;}
}

.project-title {
  margin-top: 20px;
}

a .project-description {
  color: $neutral-color-dark;
  text-decoration: none;

  &:hover {
    color: $primary-color
    $neutral-color-dark;
  }
}

.project-card {
  position: relative;

  &:hover .overlay {
  opacity: 0.9;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $secundary-color;
}


.card-text {
  @include smallTitle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* About */

.about-img { 
  width: 100px;
  transition: width 2s, height 2s, transform 2s;

  &:hover {
  width: 300px;
  transform: rotate(360deg);
  }
}



/* Courses */

.courses-grid { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-top: 30px;
}

/* Skills */


.skills {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 70px;
  }
}

.img-container-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $secundary-color;
  margin: auto;
}

.skill-container {
  width: 33.33%;
  align-items: center;
  flex: 1 0 230px;

  figure {
    margin-bottom: 50px;
  }
}

figcaption {
  font-size: 1.2em;
  margin-top: 30px;
  text-align: center;
  color: #3D4645;
}

.skill-icon {
  fill: $primary-color;
}
/* Education */


.course-container {
  width: 100%;
  padding: 0 20px 20px 0;
}

.status-experience {
  @include smallTitle;
  color: $primary-color;
  margin-top: 30px;
}

.experience-grid { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-top: 30px;
}

.courses {
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: left;
  margin: 20px 0px 20px 0px;;
}

.item-detail {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.030em;
  padding-bottom: 4px;
  margin-bottom: 13px;
  font-size: 0.9em;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $secundary-color;
  }
}



/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}







/* Wrapper */
.wrapper {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3%;
  padding-left: 3%

}



/* Clearfix */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: $primary-color;
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}


/* tablet & desktop */

@media screen and (min-width: 756px) {

header {
  li {
    float: left;

    a {
      padding: 20px 30px;
    }
  }

  .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .menu-icon {
    display: none;
  }
}

}


