@import "colors";

footer {
  max-width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  border-top: 1px solid $neutral-color-dark;
  color: #D26230;
  height: 30px;
  padding: 10px 10px 10px 20px;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-top: 100px;

  p {
    color: $neutral-color-dark;
  }
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: $primary-color;
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li {
    padding: 5px 24px 5px 0px;
    list-style-type: none;
    display: inline;
    float: right;
  }
}

.copy-rights {
    display: block;
    float: left;
  }