#top {
  padding-top: 56px; 
}

.intro-container {
  width: 100%;
}

p.intro-subtitle {
  @include subTitle;
  font-size: 1.3em;
}

.about-text {
  width: 100%;
  margin-bottom: 28px;
}

.contacts {
 position: relative;
 top: 0;
  margin-top: 100px;
}

#top, #education, #skills, #projects, #experience, {
  margin: 0px 5% 50px 5%;
}

.cta {
	@include cta;
}

.contact {
  position: -webkit-sticky;
  position: sticky;
  height: 200px;
  bottom: 50px;
  z-index: 0;
  background-color: $secundary-color;
  padding: 2px 10% 2px 10%;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
      cursor: pointer;
    }
  }
}

#sticky-contact {
  background: linear-gradient(to bottom, #FDFBFA calc(100% - 200px), transparent 0);
}

.empty-block {
  background-color: $neutral-color-light;
  height: 200px;
  position: relative;
  z-index: 1;
}

.contact p {
  @include menuItems;
  font-size: 1em;
  color: $neutral-color-dark;
  padding: 0px;
}
