.intro-grid  {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 1em;
  -ms-grid-rows: auto 2rem auto 2rem auto;
      grid-template-areas:
    "intro"
    "img"
    "text";
}

.intro-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: intro;
}

.home-img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img;
}

.home-about {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: text;
}


@media screen and (min-width: 900px) {
 .intro-grid {
    -ms-grid-columns: 2fr 2rem 3fr;
    grid-template-columns: 2fr 3fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas:
      "intro img"
      "text img"
  }

 .intro-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }

 .home-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3
  }

 .home-about {
    -ms-grid-row: 3;
    -ms-grid-column: 1
  }
}


#top {
  padding-top: 56px; 
}

.intro-container {
  width: 100%;
}

p.intro-subtitle {
  @include subTitle;
  font-size: 1.3em;
}

.about-text {
  width: 100%;
  margin-bottom: 28px;
}

.contacts {
 position: relative;
 top: 0;
  margin-top: 100px;
}

#top, #education, #skills, #projects, #experience, {
  margin: 0px 5% 50px 5%;
}

.cta {
	@include cta;
}

.contact {
  position: -webkit-sticky;
  position: sticky;
  height: 200px;
  bottom: 50px;
  z-index: 0;
  background-color: $neutral-color-light;
  padding: 2px 5%;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
      cursor: pointer;
    }
  }
}

#sticky-contact {
  background: linear-gradient(to bottom, $neutral-color-light calc(100% - 200px), transparent 0);
}

.empty-block {
  background-color: $neutral-color-light;
  height: 200px;
  position: relative;
  z-index: 1;
}

.contact p {
  @include menuItems;
  font-size: 1em;
  color: $neutral-color-dark;
  padding: 0px;
}
