/* Site header */

.site-title {
  @include smallTitle;
  letter-spacing: 2px;
  margin: 10px 0px 0px 0px;
  float: left;

  &,
  &:visited {
    color: $neutral-color-dark;
  }
}

/* Page content */
.page-content {
  padding: 30px 0px 0px 0px;
  flex: 1;
}





